{% extends "layout.html" %} {% load static %} {% block content %}
<br /><br />
<div style="background-color: white">
  <div class="row">
    <div class="col-md-6">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-4 text-center">Trending Jobs!</h1>
        <p class="lead text-center">
          Wondering how to get a great job, we are here to help!
        </p>
        <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'home' %}"
            role="button"
            >Search for Jobs Now!</a
          >
        </p>
    </div>
  </div>
  {% endblock %}
</div>