
/* banner */
/* -webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 14px;
color: #707f8c;
line-height: 24px;
box-sizing: border-box;
background-size: cover!important;
background-position: center!important;
margin: 0;
padding: 68px 0;
position: relative;
padding-top: 120px;
background-image: url(assets/img/slider_bg.jpg); */
/* end  */