{% extends 'base.html' %}
{% load static %}

{% block title %}
home page
{% endblock %}

{%block banner %}

<div class="utf_main_banner_area" style="background-image:url(assets/img/slider_bg.jpg);" data-overlay="8">
    <div class="container ">
        <div class="col-md-8 col-sm-10">
            <div class="caption cl-white home_two_slid">
                <h2>Search Between More Then <span class="theme-cl">50,000</span> Open Jobs.</h2>
                <p>Trending Jobs Keywords: <span class="trending_key"><a href="#">Web Designer</a></span> <span
                        class="trending_key">
                        <a href="#">Web Developer</a></span> <span class="trending_key">
                        <a href="#">IOS Developer</a></span> <span class="trending_key">
                        <a href="#">Android Developer</a></span>
                </p>
            </div>
            
        </div>
    </div>
</div>
{% endblock%}